@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="body-card">

<h2>Edit</h2>
<hr />
<h4>Edit this Machine: @Html.DisplayFor(model => model.MachineName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.MachineName)
  @Html.EditorFor(model => model.MachineName)

  @Html.LabelFor(model => model.Installed)
  @Html.EditorFor(model => model.Installed)

  <input type="submit" value="Save" class="btn btn-warning btn-lg" />
}
<br />
</div>

<button type="button" class="btn btn-warning btn-lg">@Html.ActionLink("Back to list", "Index")</button>