@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class ="card-body"> 
  

<h2>Edit</h2>
<hr />
<h4>Edit this engineer: @Html.DisplayFor(model => model.EngineerName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.EngineerName)
  @Html.EditorFor(model => model.EngineerName)

  <input type="submit" value="Save" class="btn btn-warning btn-lg" />
}
<br />
</div>
<br />
<button type="button" class="btn btn-outline-warning btn-lg">@Html.ActionLink("Back to list", "Index")</button>